#blog {
  h2 {
    position: absolute;
    font-size: 11.1em;
    font-family: "Cinzel", serif;
    font-weight: 100;
    color: #f5eee3;
    margin-top: -70px;
    z-index: 1;
  }

  h3 {
    letter-spacing: -3px;
    word-spacing: 5px;
    font-family: "Cinzel", serif;
    font-size: 2.7em;
    font-weight: 100;
    position: relative;
    text-align: center;
    margin-top: 130px;
    z-index: 2;
  }

  h4 {
    font-size: 14px;
    font-weight: lighter;
    position: relative;
    text-align: center;
    z-index: 2;
    font-family: "Open Sans", sans-serif;
  }

  .article_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;

    article {
      border: 1px solid #f5eee3;
      background-color: #f5eee3;
      display: grid;
      height: 600px;
      width: 350px;
      justify-items: center;
      margin-bottom: 5%;
      margin-top: 5%;

      img {
        width: 100%;
      }

      .article_details {
        font-family: "Open Sans", sans-serif;
        color: #9a9ca5;
        display: flex;
        font-size: 13px;
        width: 100%;
        justify-content: space-evenly;
      }
    }

    i {
      color: #c8a96a;
      padding-right: 10px;
    }

    .article_title {
      font-family: "Cinzel", serif;
      font-size: 16px;
      text-align: center;
      color: #5b5a59;
    }

    .readmore {
      border: 1px solid white;
      background-color: white;
      color: black;
      text-align: center;
      width: 150px;
      height: 35px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      border-radius: 5px;
      padding-top: 15px;
      font-size: 13px;

      &:hover {
        background-color: #c8a96a;
        color: white;
        cursor: pointer;
      }

      i:hover {
        color: white;
      }
    }
  }
}

.awards {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  filter: grayscale(1);
  flex-wrap: wrap;
}

@media (max-width: 940px) {
  #blog {
    h2 {
      font-size: 6em;
    }
  }

  .award {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 515px) {
  #blog {
    h2 {
      font-size: 4em;
    }
  }

  .award {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
